/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center; /* Centers the text horizontally */
  margin-top: 20px; /* Adds space above the header */
  margin-bottom: 20px; /* Adds space below the header */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the buttons */
  margin: 10px 0;
}

.left-button, .right-button {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.left-button:hover, .right-button:hover {
  text-decoration: underline;
}

.center-button {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 200px; /* Set a maximum width for the button */
}

.center-button:hover {
  text-decoration: underline;
}

.info-window-content a {
  all: revert; /* This CSS property resets all the inherited styles to their initial values */
}